@charset "utf-8";
/* CSS Document */


#table h3{color:#006699;}
#table1 th{color:#003399;}
.class1{display:inline; float:left;}

#wraper{padding:5px;
        margin:200px;
		padding:120px;
		padding-right:20px;
		border:3px dotted;
		background-color:#CCCCCC;
		}
#table2 th{color:#0033CC;
          }		